.reportContainerDiv{
    width: 50%;
    text-align: left;
    margin: auto;
}

h2{
text-align: center;
}

.reportDiv{
    width: fit-content;
    margin: auto;
}

.reportDiv table{
    margin: auto;
    text-align: left;
    margin: auto;
}

.reportDiv p{
    text-align: left;
}

.reportDiv table thead tr th, td{
    background-color: unset;
    padding: unset;
}

.reportDiv table tbody tr:nth-child(even) {
    background-color: unset;
  }